{% extends "base.html"%}

{% block titulo %} Nosotros {% endblock %}

{% block contenido %}
<h1 class="mbr-section-title py-3 mbr-fonts-style display-2">Soluciones para la gestión del<strong>&nbsp;capital humano&nbsp;</strong>en organizaciones y Sector IT.
</h1> 
<p class="card-text ">Con nuestros servicios de IT Recruiting resolvemos las necesidades de atracción de talento en tu compañía&nbsp;de una manera eficiente y oportuna. Nuestros planes de Trainings promueven la comunicación efectiva entre los equipos colaboradores y las áreas, desarrollando el liderazgo y los Soft Skills. Ayudamos a mejorar los vínculos personales, el desempeño profesional y generamos mayor sinergia y trabajo colaborativo. <br><br>Nuestro objetivo: resultados extraordinarios y satisfacción para nuestros clientes.  <br></p>
{% endblock %}